[package]
name = "load-balancer"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi        = "3.0.0"
napi-derive = "3.0.0"
async-trait = "0.1"
pingora     = { version = "0.6", features = ["lb"] }
pingora-load-balancing = "0.6"
tokio = { version = "1.48.0", features = ["sync"] }

[build-dependencies]
napi-build = "2"

[profile.release]
lto   = true
strip = "symbols"
