[package]
name = "neemata-proxy"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "3", features = ["async"] }
napi-derive = "3.0.0"
async-trait = "0.1"
pingora = { version = "0.6", features = ["lb"] }
pingora-load-balancing = "0.6"
http = "1.0"
tokio = { version = "1.48.0", features = ["sync"] }
url = "2.5.7"
log = "0.4.28"
env_logger = "0.11.8"

[build-dependencies]
napi-build = "2"

[profile.release]
lto   = true
strip = "symbols"
